// Mixins Here
.center () {
    display: flex;
    justify-content: center;
}

.custom-btn(@width, @height, @bg-color, @font-color, @font-size) {
    width: @width;
    height: @height;
    background-color: @bg-color;
    color: @font-color;
    cursor: pointer;
    font-size: @font-size;
    .center();
    align-items: center;
    border-radius: 8px;

    &:hover {
        background: @font-color;
        color: @bg-color;
    }

}



@media @mobile {
    width: 100%;
}